@font-face {
  font-family: "Gotham-Bold";
  src: url("../../public/fonts/Gotham-Bold.otf");
}
@font-face {
  font-family: "Gotham-Book";
  src: url("../../public/fonts/Gotham-Book.otf");
}
@font-face {
  font-family: "Gotham-Medium";
  src: url("../../public/fonts/Gotham-Medium.otf");
}
