@import "@/styles/variables";

@function calculateSize($minSize, $maxSize, $minRes: $mobileRes, $maxRes: $desktopRes) {
  $resDif: $maxRes - $minRes;
  $sizeDif: $maxSize - $minSize;
  $sizePerRes: calc($resDif / $sizeDif);

  @return "clamp(#{$minSize}px, calc((max((100vw - #{$minRes}px), 0px) / #{$sizePerRes}) + #{$minSize}px), #{$maxSize}px)";
}

.title,
.upper-title {
  font-family: "Gotham-Medium";
  font-weight: 500;
  letter-spacing: 0;

  &.align {
    &-left {
      text-align: left;
    }
    &-center {
      text-align: center;
    }
    &-right {
      text-align: right;
    }
  }

  &.color {
    &-white {
      color: white;
    }
    &-black {
      color: black;
    }
    &-orange {
      color: var(--color-orange-dark);
    }
    &-gray {
      color: var(--color-gray);
    }
  }
}

.title {
  --title-color-light: var(--color-gray);
  --title-color-black: #000;

  margin: 0;
  padding: 0;

  &.size {
    &-small {
      font-size: #{calculateSize(28, 56)};
      line-height: #{calculateSize(32, 64)};
    }
    &-medium {
      font-size: #{calculateSize(36, 72)};
      line-height: #{calculateSize(40, 80)};
    }
    &-large {
      font-size: #{calculateSize(54, 100)};
      line-height: #{calculateSize(64, 108)};
    }
  }
}

.upper-title {
  margin-bottom: 1.25rem;

  &.size {
    &-small {
      font-size: #{calculateSize(12, 24)};
      line-height: #{calculateSize(18, 48)};
    }
    &-medium {
      font-size: #{calculateSize(16, 30)};
      line-height: #{calculateSize(18, 48)};
    }
  }
}
