@import "@/styles/variables";
@import "@/styles/functions-mixins";

.title,
.upper-title {
  font-family: "Gotham-Medium";
  font-weight: 500;
  letter-spacing: 0;
}

.title {
  --title-color-light: var(--color-gray);
  --title-color-black: #000;

  @include margin(0);
  @include padding(0);

  &.size {
    &-medium {
      font-size: #{responsive(30, 70)};
      line-height: #{responsive(44, 84)};
    }
    &-large {
      font-size: #{responsive(60, 100)};
      line-height: #{responsive(72, 120)};
    }
  }
}

.upper-title {
  margin-block-end: 1rem;
  font-size: #{responsive(12, 24)};
  line-height: #{responsive(18, 48)};
}
