@import "@/styles/variables";
@import "@/styles/functions-mixins";

.title,
.upper-title {
  font-family: "Gotham-Medium";
  font-weight: 500;
  letter-spacing: 0;
}

.title {
  --title-color-light: var(--color-gray);
  --title-color-black: #000;

  @include margin(0);
  @include padding(0);

  &.size {
    &-small {
      font-size: #{responsive(28, 56)};
      line-height: #{responsive(32, 64)};
    }
    &-medium {
      font-size: #{responsive(36, 72)};
      line-height: #{responsive(40, 80)};
    }
    &-large {
      font-size: #{responsive(54, 100)};
      line-height: #{responsive(64, 108)};
    }
  }
}

.upper-title {
  margin-block-end: 1rem;

  &.size {
    &-small {
      font-size: #{responsive(12, 24)};
      line-height: #{responsive(18, 48)};
    }
    &-medium {
      font-size: #{responsive(16, 30)};
      line-height: #{responsive(18, 48)};
    }
  }
}
