.lang-btn {
  all: unset;
  position: absolute;
  inset-block-start: 1rem;
  inset-inline-end: 50%;
  color: white;
  background-color: black;
  font-family: "Gotham-Bold";
  font-weight: bold;
  cursor: pointer;
  z-index: 999;

  &:hover {
    color: var(--color-orange-light);
  }
}

[dir="ltr"] .lang-btn {
  transform: translateX(50%);
}

[dir="rtl"] .lang-btn {
  transform: translateX(-50%);
}